.badge {
  background-color: gray;
  margin: 2;
  padding: 5;
}
body{
  background-color: transparent !important;
}
html{
  background-image: url("https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883181_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }
.controls-top{
  margin-left: 435px;
  margin-bottom: 30px
}
.controls-top a{
  background-color: #91afd0;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}
.carousel-indicators {
  position: unset !important;
}
.carousel-indicators li{
  background-color: black !important;
  font-size: 20px !important;
}